In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [2]:
def corr_heatmap_with_values(df, target=None):
    corr = df.corr()
    if not target==None:
        corr = pd.DataFrame(corr[target])
    mask = np.zeros_like(corr, dtype=np.bool)
    mask[np.triu_indices_from(mask)] = True
    f, ax = plt.subplots(figsize=(17,30))
    cmap = sns.color_palette("RdBu_r", 9)
    sns.heatmap(corr, mask=mask, cmap=cmap, center=0, square=True, linewidths=.5,
           yticklabels=True, annot=True, fmt='.2f', cbar_kws={'shrink':.5})
    plt.title('Correlation Matrix', fontsize=20)
    plt.xticks(rotation=90, fontsize=11)
    plt.yticks(rotation=0, fontsize=11)
    plt.tight_layout()
    f.savefig('my_heatmap.png')

In [5]:
def get_percentage_missing(series):
   ''' Calculates percentage of NaN values in DataFrame
   :param series: Pandas DataFrame object
   :return: float
   '''
   num = series.isnull().sum()
   den = len(series)
   return round(num/den, 7)

# Lookup DataFrames for Reference

In [3]:
#read in all of the useful dataframes
lookup_activitypurpose = pd.read_csv('caltrans_full_survey/lookup_activitypurpose.csv')
lookup_education = pd.read_csv('caltrans_full_survey/lookup_education.csv')
lookup_gender = pd.read_csv('caltrans_full_survey/lookup_gender.csv')
lookup_income = pd.read_csv('caltrans_full_survey/lookup_income.csv')
lookup_industry = pd.read_csv('caltrans_full_survey/lookup_industry.csv')
lookup_occupation = pd.read_csv('caltrans_full_survey/lookup_occupation.csv')
lookup_relation = pd.read_csv('caltrans_full_survey/lookup_relation.csv')
lookup_residencetype = pd.read_csv('caltrans_full_survey/lookup_residencetype.csv')
lookup_travelday = pd.read_csv('caltrans_full_survey/lookup_travelday.csv')
lookup_travelmode = pd.read_csv('caltrans_full_survey/lookup_travelmode.csv')
lookup_trippurpose = pd.read_csv('caltrans_full_survey/lookup_trippurpose.csv')
lookup_vehiclecylinders = pd.read_csv('caltrans_full_survey/lookup_vehiclecylinders.csv')
lookup_vehiclefuel = pd.read_csv('caltrans_full_survey/lookup_vehiclefuel.csv')
lookup_vehiclemake = pd.read_csv('caltrans_full_survey/lookup_vehiclemake.csv')
lookup_vehicleownership = pd.read_csv('caltrans_full_survey/lookup_vehicleownership.csv')
lookup_vehicletransmission = pd.read_csv('caltrans_full_survey/lookup_vehicletransmission.csv')
lookup_vehicletype = pd.read_csv('caltrans_full_survey/lookup_vehicletype.csv')

In [27]:
lookup_travelmode.head(31)

    id                                        description
0    1                                               Walk
1    2                                               Bike
2    3                      Wheelchair / Mobility Scooter
3    4                                Other Non Motorized
4    5                          Auto / Van / Truck Driver
5    6                       Auto / Van / Truck Passenger
6    7                                  Carpool / Vanpool
7    8                       Motorcycle / Scooter / Moped
8    9                            Taxi / Hired Car / Limo
9   10                                 Rental Car/Vehicle
10  11    Private Shuttle (Supershuttle, Employer, Hotel)
11  12                                      Greyhound Bus
12  13                                              Plane
13  14                              Other Private Transit
14  15                               Local Bus, Rapid Bus
15  16  Express Bus / Commuter Bus (Golden Gate, AC Tr...
16  17                         Metro Orange / Silver Line
17  18                                         School Bus
18  19                             Public Transit Shuttle
19  20                                AirBART/LAX Flyaway
20  21        Dial-a-Ride / Paratransit (Access Services)
21  22                                         Amtrak Bus
22  23                                          Other Bus
23  24                      Bart, Metro Red / Purple Line
24  25  Ace, Amtrak, Caltrain, Metrolink, Coaster/Spri...
25  26  VTA,Muni Metro,Blue/Green/Gold Line,Sacrmnto. SRT
26  27                   Street Car / Cable Car / Trolley
27  28                                         Other Rail
28  29                                       Ferry / Boat
29  98                                            Unknown
30  99                                            Unknown

# Dataframes Proper

In [3]:
# survey_activity = pd.read_csv('caltrans_full_survey/survey_activity.csv')
# survey_households = pd.read_csv('caltrans_full_survey/survey_households.csv')
# survey_households_wgts = pd.read_csv('caltrans_full_survey/survey_households_wgts.csv')
# survey_longtrips = pd.read_csv('caltrans_full_survey/survey_longtrips.csv')
# survey_longtrips_v02 = pd.read_csv('caltrans_full_survey/survey_longtrips_v02.csv')
# survey_person = pd.read_csv('caltrans_full_survey/survey_person.csv')
# survey_person_wgts = pd.read_csv('caltrans_full_survey/survey_person_wgts.csv')
survey_place = pd.read_csv('data/caltrans_full_survey/survey_place.csv')
# survey_vehicles = pd.read_csv('caltrans_full_survey/survey_vehicles.csv')
# survey_vehicles_class_nrel = pd.read_csv('caltrans_full_survey/survey_vehicles_class_nrel.csv')

/home/michael/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# v_gpslinks = pd.read_csv('data/caltrans_full_survey/v_gpslinks.csv')
# v_gpstrips = pd.read_csv('data/caltrans_full_survey/v_gpstrips.csv')
# v_households = pd.read_csv('data/caltrans_full_survey/v_households.csv')
# v_missedtrips = pd.read_csv('data/caltrans_full_survey/v_missedtrips.csv')
v_place = pd.read_csv('data/caltrans_full_survey/v_place.csv')
# v_sortedtrips = pd.read_csv('data/caltrans_full_survey/v_sortedtrips.csv')
# v_vehicles = pd.read_csv('data/caltrans_full_survey/v_vehicles.csv')
# w_gpslinks = pd.read_csv('data/caltrans_full_survey/w_gpslinks.csv')
# w_gpstrips = pd.read_csv('data/caltrans_full_survey/w_gpstrips.csv')
# w_gpstripstages = pd.read_csv('data/caltrans_full_survey/w_gpstripstages.csv')
# w_households = pd.read_csv('data/caltrans_full_survey/w_households.csv')
# w_linkedtrips = pd.read_csv('data/caltrans_full_survey/w_linkedtrips.csv')
# w_missedtrips = pd.read_csv('data/caltrans_full_survey/w_missedtrips.csv')
# w_person = pd.read_csv('data/caltrans_full_survey/w_person.csv')
w_place = pd.read_csv('data/caltrans_full_survey/w_place.csv')
# w_sortedtrips = pd.read_csv('data/caltrans_full_survey/w_sortedtrips.csv')

## Survey_place

In [124]:
survey_place.head()

,sampno,perno,plano,vehno,tripno,place_name,travel_date,arr_time,dep_time,mode,...,lat,non_hh_members,route,per1,per2,per3,per4,per5,geom,test
0,1031985,1,1,NaN,NaN,REDACTED,2012-05-01,03:00:00,08:00:00,NaN,...,REDACTED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REDACTED,NaN
1,1031985,1,2,97.0,1.0,REDACTED,2012-05-01,09:00:00,12:00:00,6.0,...,REDACTED,1.0,NaN,NaN,NaN,NaN,NaN,NaN,REDACTED,6.0
2,1031985,1,3,97.0,2.0,REDACTED,2012-05-01,13:00:00,02:00:00,6.0,...,REDACTED,1.0,NaN,NaN,NaN,NaN,NaN,NaN,REDACTED,6.0
3,1031985,2,1,NaN,NaN,REDACTED,2012-05-01,03:00:00,09:00:00,NaN,...,REDACTED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REDACTED,NaN
4,1031985,2,2,1.0,1.0,REDACTED,2012-05-01,09:00:00,10:00:00,5.0,...,REDACTED,0.0,NaN,NaN,NaN,NaN,NaN,NaN,REDACTED,5.0

In [119]:
vehno>0 = mode0
parked_loc_type>0 = mode0
parked_amount_payed>0 = mode0
parked_unit>0 = mode0
parked_pay_type>0 = mode0
parked_paymen_ne>0 = mode0
got_out_vehicle>0 = mode0
tottr
hhmem
non_hh_members

transit_system>0 = mode1

SyntaxError: can't assign to comparison (<ipython-input-119-b141bff384a1>, line 1)

In [21]:
survey_place.isna().sum()

sampno                          0
perno                           0
plano                           0
vehno                      174056
tripno                     108779
place_name                      0
travel_date                    15
arr_time                        1
dep_time                        1
mode                       108779
trip_distance_miles        111139
air_trip_distance_miles    108779
tripdistanceflag           457554
prev_trip_duration_min     108779
act_dur                         1
act_cnt                         2
block_id                        0
tract_id                        5
county_id                       5
state_id                        1
place_primarycity               4
city                            4
zipcode                         1
state                         729
parked_loc_type            346967
parked_other_loc_type      460321
parked_address                  0
parked_minutes             446861
parked_payed               446862
parked_amount_payed        459293
parked_unit                459293
parked_pay_type            459293
parked_other_pay_type      460494
parked_paymen_ne           459554
got_out_vehicle            274090
transit_system             449777
transit_system_other       459889
perwgt                          1
expperwgt                       1
tcf                        108780
tcfperwgt                  108780
exptcfperwgt               108780
tottr                      174056
hhmem                      174056
lon                             0
lat                             0
non_hh_members             174056
route                      449778
per1                       329934
per2                       406108
per3                       434933
per4                       450779
per5                       457469
geom                            0
dtype: int64

In [109]:
survey_place.test[survey_place.test.isna()] = [0 if survey_place.parked_loc_type[k] > 1 else np.nan for k,v in survey_place.parked_loc_type.items()]

/home/michael/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
survey_place.parked_minutes.unique()

array([ nan,   7.,   1.,   5.,   4.,  98.,  10.,   2.,   0.,  15.,   3.,
        17.,  99.,  18.,   8.,  50.,  14.,  20.,   6.,  45.,  30.,  12.,
         9.,  25.,  60.,  11.,  57.])

In [4]:
columns = ['travel_date', 'arr_time', 'dep_time', 'trip_distance_miles',\
           'air_trip_distance_miles', 'prev_trip_duration_min', 'mode', 'act_dur',\
          'act_cnt', 'tract_id', 'county_id', 'state_id',\
           'tottr', 'hhmem', 'non_hh_members', 'route']

In [5]:
survey_place.columns

Index(['sampno', 'perno', 'plano', 'vehno', 'tripno', 'place_name',
       'travel_date', 'arr_time', 'dep_time', 'mode', 'trip_distance_miles',
       'air_trip_distance_miles', 'tripdistanceflag', 'prev_trip_duration_min',
       'act_dur', 'act_cnt', 'block_id', 'tract_id', 'county_id', 'state_id',
       'place_primarycity', 'city', 'zipcode', 'state', 'parked_loc_type',
       'parked_other_loc_type', 'parked_address', 'parked_minutes',
       'parked_payed', 'parked_amount_payed', 'parked_unit', 'parked_pay_type',
       'parked_other_pay_type', 'parked_paymen_ne', 'got_out_vehicle',
       'transit_system', 'transit_system_other', 'perwgt', 'expperwgt', 'tcf',
       'tcfperwgt', 'exptcfperwgt', 'tottr', 'hhmem', 'lon', 'lat',
       'non_hh_members', 'route', 'per1', 'per2', 'per3', 'per4', 'per5',
       'geom'],
      dtype='object')

In [14]:
transit = survey_place[survey_place['mode']>14]
nontransit = survey_place[survey_place['mode']<15]

In [15]:
get_percentage_missing(transit)

travel_date                0.000000
arr_time                   0.000000
dep_time                   0.000000
trip_distance_miles        0.008431
air_trip_distance_miles    0.000000
prev_trip_duration_min     0.000000
mode                       0.000000
act_dur                    0.000000
act_cnt                    0.000000
tract_id                   0.000000
county_id                  0.000000
state_id                   0.000000
tottr                      1.000000
hhmem                      1.000000
non_hh_members             1.000000
route                      0.168781
dtype: float64

In [16]:
get_percentage_missing(nontransit)

travel_date                0.000029
arr_time                   0.000000
dep_time                   0.000000
trip_distance_miles        0.006644
air_trip_distance_miles    0.000000
prev_trip_duration_min     0.000000
mode                       0.000000
act_dur                    0.000000
act_cnt                    0.000003
tract_id                   0.000012
county_id                  0.000012
state_id                   0.000000
tottr                      0.154505
hhmem                      0.154505
non_hh_members             0.154505
route                      1.000000
dtype: float64

In [22]:
df = survey_place[columns]

In [23]:
df.fillna

,travel_date,arr_time,dep_time,trip_distance_miles,air_trip_distance_miles,prev_trip_duration_min,mode,act_dur,act_cnt,tract_id,county_id,state_id,tottr,hhmem,non_hh_members,route
0,2012-05-01,03:00:00,08:00:00,NaN,NaN,NaN,NaN,340.0,3.0,252202.0,95.0,6.0,NaN,NaN,NaN,NaN
1,2012-05-01,09:00:00,12:00:00,13.428271,7.647539,22.0,6.0,231.0,1.0,252108.0,95.0,6.0,2.0,0.0,1.0,NaN
2,2012-05-01,13:00:00,02:00:00,12.975526,7.647539,20.0,6.0,826.0,3.0,252202.0,95.0,6.0,2.0,0.0,1.0,NaN
3,2012-05-01,03:00:00,09:00:00,NaN,NaN,NaN,NaN,376.0,3.0,252202.0,95.0,6.0,NaN,NaN,NaN,NaN
4,2012-05-01,09:00:00,10:00:00,5.125960,3.411646,10.0,5.0,77.0,1.0,251902.0,95.0,6.0,1.0,0.0,0.0,NaN
5,2012-05-01,10:00:00,02:00:00,5.126981,3.411646,13.0,5.0,963.0,3.0,252202.0,95.0,6.0,1.0,0.0,0.0,NaN
6,2012-05-12,03:00:00,08:00:00,NaN,NaN,NaN,NaN,315.0,1.0,17030.0,73.0,6.0,NaN,NaN,NaN,NaN
7,2012-05-12,08:00:00,15:00:00,3.619056,2.740748,20.0,5.0,415.0,3.0,17051.0,73.0,6.0,3.0,2.0,0.0,NaN
8,2012-05-12,15:00:00,16:00:00,3.587949,2.740748,20.0,5.0,40.0,1.0,17030.0,73.0,6.0,5.0,4.0,0.0,NaN
9,2012-05-12,16:00:00,17:00:00,19.351620,17.693651,25.0,5.0,45.0,1.0,9304.0,73.0,6.0,2.0,1.0,0.0,NaN
10,2012-05-12,17:00:00,18:00:00,6.451126,3.423214,15.0,5.0,45.0,1.0,8511.0,73.0,6.0,2.0,1.0,0.0,NaN
11,2012-05-12,19:00:00,02:00:00,17.657172,15.176483,20.0,5.0,479.0,2.0,17030.0,73.0,6.0,2.0,1.0,0.0,NaN
12,2012-05-12,03:00:00,08:00:00,NaN,NaN,NaN,NaN,332.0,1.0,17030.0,73.0,6.0,NaN,NaN,NaN,NaN
13,2012-05-12,08:00:00,09:00:00,10.466616,6.972308,18.0,6.0,10.0,1.0,20211.0,73.0,6.0,2.0,0.0,1.0,NaN
14,2012-05-12,09:00:00,10:00:00,3.769483,2.756112,14.0,6.0,76.0,1.0,20708.0,73.0,6.0,2.0,0.0,1.0,NaN
15,2012-05-12,10:00:00,11:00:00,4.895157,4.219207,20.0,6.0,20.0,1.0,17030.0,73.0,6.0,2.0,0.0,1.0,NaN
16,2012-05-12,11:00:00,11:00:00,3.619056,2.740748,20.0,6.0,1.0,1.0,17051.0,73.0,6.0,3.0,1.0,1.0,NaN
17,2012-05-12,11:00:00,11:00:00,2.545849,1.301195,14.0,6.0,7.0,1.0,17052.0,73.0,6.0,3.0,1.0,1.0,NaN
18,2012-05-12,12:00:00,12:00:00,2.545849,1.301195,8.0,6.0,15.0,1.0,17051.0,73.0,6.0,3.0,1.0,1.0,NaN
19,2012-05-12,12:00:00,12:00:00,2.545849,1.301195,10.0,5.0,5.0,1.0,17052.0,73.0,6.0,1.0,0.0,0.0,NaN
20,2012-05-12,12:00:00,12:00:00,2.545849,1.301195,10.0,5.0,10.0,1.0,17051.0,73.0,6.0,1.0,0.0,0.0,NaN
21,2012-05-12,12:00:00,13:00:00,2.545849,1.301195,5.0,5.0,10.0,1.0,17052.0,73.0,6.0,1.0,0.0,0.0,NaN
22,2012-05-12,13:00:00,15:00:00,2.545849,1.301195,5.0,5.0,140.0,1.0,17051.0,73.0,6.0,1.0,0.0,0.0,NaN
23,2012-05-12,15:00:00,16:00:00,3.587949,2.740748,20.0,6.0,40.0,1.0,17030.0,73.0,6.0,5.0,4.0,0.0,NaN
24,2012-05-12,16:00:00,17:00:00,17.657172,17.693651,25.0,6.0,45.0,1.0,9304.0,73.0,6.0,2.0,1.0,0.0,NaN
25,2012-05-12,17:00:00,18:00:00,5.113676,3.423214,15.0,6.0,45.0,1.0,8511.0,73.0,6.0,2.0,1.0,0.0,NaN
26,2012-05-12,19:00:00,20:00:00,15.176483,15.176483,20.0,6.0,60.0,1.0,17030.0,73.0,6.0,2.0,1.0,0.0,NaN
27,2012-05-12,20:00:00,20:00:00,5.113676,3.506347,15.0,5.0,20.0,1.0,17055.0,73.0,6.0,1.0,0.0,0.0,NaN
28,2012-05-12,20:00:00,20:00:00,0.632493,0.560436,5.0,6.0,15.0,1.0,17051.0,73.0,6.0,2.0,0.0,1.0,NaN
29,2012-05-12,21:00:00,21:00:00,2.702007,2.071354,10.0,6.0,20.0,1.0,17014.0,73.0,6.0,2.0,0.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460494,2013-01-29,06:00:00,14:00:00,12.291945,7.408024,30.0,5.0,480.0,1.0,40400.0,35.0,6.0,1.0,0.0,0.0,NaN
460495,2013-01-29,14:00:00,14:00:00,12.253795,7.411947,20.0,5.0,30.0,1.0,40305.0,35.0,6.0,1.0,0.0,0.0,NaN
460496,2013-01-29,15:00:00,15:00:00,3.118026,1.685449,10.0,5.0,15.0,1.0,40304.0,35.0,6.0,1.0,0.0,0.0,NaN
460497,2013-01-29,15:00:00,17:00:00,3.129397,1.685535,15.0,5.0,90.0,1.0,40305.0,35.0,6.0,2.0,1.0,0.0,NaN
460498,2013-01-29,17:00:00,17:00:00,3.118026,1.685449,15.0,5.0,1.0,1.0,40304.0,35.0,6.0,2.0,1.0,0.0,NaN
460499,2013-01-29,17:00:00,18:00:00,3.129397,1.685535,4.0,5.0,40.0,1.0,40305.0,35.0,6.0,1.0,0.0,0.0,NaN
460500,2013-01-29,20:00:00,02:00:00,88.499657,76.544949,150.0,6.0,389.0,1.0,102.0,31.0,32.0,2.0,0.0,1.0,NaN
460501,2013-01-29,03:00:00,10:00:00,NaN,NaN,NaN,NaN,470.0,1.0,40305.0,35.0,6.0,NaN,NaN,NaN,NaN
460502,2013-01-29,10:00:00,11:00:00,1.163052,0.643561,5.0,5.0,60.0,1.0,40303.0,35.0,6.0,1.0,0.0,0.0,NaN
460503,2013-01-29,12:00:00,12:00:00,1.163052,0.643595,5.0,5.0,50.0,1.0,40305.0,35.0,6.0,1.0,0.0,0.0,NaN
460504,2013-01-29,12:00:00,14:00:00,1.163052,0.643561,5.0,5.0,85.0,1.0,40303.0,35.0,6.0,1.0,0.0,0.0,NaN
460505,2013-01-29,14:00:00,02:00:00,1.163052,0.643595,5.0,5.0,754.0,1.0,40305.0,35.0,6.0,1.0,0.0,0.0,NaN
460506,2013-01-29,03:00:00,07:00:00,NaN,NaN,NaN,NaN,285.0,1.0,40305.0,35.0,6.0,NaN,NaN,NaN,NaN
460507,2013-01-29,08:00:00,15:00:00,3.118026,1.685449,15.0,6.0,435.0,1.0,40304.0,35.0,6.0,2.0,1.0,0.0,NaN
460508,2013-01-29,15:00:00,17:00:00,3.129397,1.685535,15.0,6.0,90.0,3.0,40305.0,35.0,6.0,2.0,1.0,0.0,NaN
460509,2013-01-29,17:00:00,18:00:00,3.118026,1.685449,15.0,6.0,90.0,1.0,40304.0,35.0,6.0,2.0,1.0,0.0,NaN
460510,2013-01-29,19:00:00,02:00:00,3.129397,1.685535,15.0,6.0,479.0,2.0,40305.0,35.0,6.0,2.0,1.0,0.0,NaN
460511,2013-01-21,03:00:00,02:00:00,NaN,NaN,NaN,NaN,1439.0,2.0,40302.0,35.0,6.0,NaN,NaN,NaN,NaN
460512,2013-01-21,03:00:00,02:00:00,NaN,NaN,NaN,NaN,1439.0,2.0,40302.0,35.0,6.0,NaN,NaN,NaN,NaN
460513,2013-01-30,03:00:00,02:00:00,NaN,NaN,NaN,NaN,1439.0,1.0,200.0,55.0,16.0,NaN,NaN,NaN,NaN
460514,2013-01-21,03:00:00,12:00:00,NaN,NaN,NaN,NaN,570.0,1.0,40304.0,35.0,6.0,NaN,NaN,NaN,NaN
460515,2013-01-21,12:00:00,13:00:00,0.337012,0.345178,5.0,5.0,25.0,1.0,40303.0,35.0,6.0,1.0,0.0,0.0,NaN
460516,2013-01-21,13:00:00,02:00:00,2.702899,1.734325,10.0,5.0,829.0,1.0,40305.0,35.0,6.0,1.0,0.0,0.0,NaN
460517,2013-01-21,03:00:00,13:00:00,NaN,NaN,NaN,NaN,605.0,1.0,40302.0,35.0,6.0,NaN,NaN,NaN,NaN
460518,2013-01-21,13:00:00,13:00:00,1.545640,1.356131,5.0,5.0,20.0,1.0,40304.0,35.0,6.0,1.0,0.0,0.0,NaN
460519,2013-01-21,13:00:00,02:00:00,2.933992,1.972696,10.0,5.0,799.0,1.0,40305.0,35.0,6.0,1.0,0.0,0.0,NaN
460520,2013-01-16,03:00:00,07:00:00,NaN,NaN,NaN,NaN,275.0,2.0,40304.0,35.0,6.0,NaN,NaN,NaN,NaN
460521,2013-01-16,07:00:00,15:00:00,0.387307,0.249182,15.0,1.0,436.0,1.0,40304.0,35.0,6.0,NaN,NaN,NaN,NaN
460522,2013-01-16,15:00:00,15:00:00,0.294688,0.219547,9.0,1.0,15.0,1.0,40305.0,35.0,6.0,NaN,NaN,NaN,NaN
460523,2013-01-16,15:00:00,02:00:00,NaN,0.445101,20.0,1.0,669.0,3.0,40304.0,35.0,6.0,NaN,NaN,NaN,NaN