In [1]:
import pandas as pd

In [19]:
def get_percentage_missing(series):
   ''' Calculates percentage of NaN values in DataFrame
   :param series: Pandas DataFrame object
   :return: float
   '''
   num = series.isnull().sum()
   den = len(series)
   return round(num/den, 7)

In [14]:
arc = pd.read_csv('arc_full_survey/survey_place.csv')
# cali = pd.read_csv('caltrans_full_survey/survey_place.csv')
# metc = pd.read_csv('metc_full_survey/survey_place.csv')
# mrcog = pd.read_csv('mrcog_full_survey/survey_place.csv')
# scag = pd.read_csv('scag_full_survey/survey_place.csv')

/home/g49/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (28,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
arc.drop(['sampno', 'perno', 'vehno', 'plano', 'place_name', 'tripno',
       'parked_loc_type', 'taz', 'lon',
       'lat', 'trip_purpose', 'trip_purpose_other',
       'trip_purpose_sec', 'trip_purpose_sec_other', 
       'hh_members', 'trip_duration_min',
       'non_hh_members', 'mode_other', 'transit_access_mode',
       'transit_access_mode_other', 'transit_egress', 'transit_egress_other',
       'hov_lane', 'toll_use', 'parked_desc', 'parked_desc_other',
       'parked_payed', 'parked_amount_pay', 'parked_paymet_unit',
       'get_out_vehicle', 'route', 'transit_service', 'transit_service_other',
       'fare_type', 'fare_other', 'fare_cash', 'destination_place_name',
       'destination_taz', 'destination_lon', 'destination_lat',
       'origin_place_name', 'origin_taz', 'origin_lon', 'origin_lat', 'per1',
       'per2', 'per3', 'per4', 'per5', 'pwgt', 'expwgt', 'geom'], axis=1,inplace=True)

arc.dropna(subset=['mode'], inplace=True)

In [16]:
arc.head()

,travel_date,arr_time,dep_time,act_dur,persons_count,trip_distance_miles,mode
8,2011-05-05,13:15:00,16:30:00,195,1.0,0.384273,3.0
35,2011-04-15,18:10:00,19:00:00,50,1.0,1.674506,3.0
51,2011-04-19,16:45:00,21:00:00,255,1.0,3.057102,3.0
67,2011-05-19,16:30:00,02:59:00,629,1.0,9.161827,3.0
83,2011-03-14,15:03:00,02:59:00,716,1.0,0.093775,1.0

In [18]:
get_percentage_missing(arc)

travel_date            0.0
arr_time               0.0
dep_time               0.0
act_dur                0.0
persons_count          0.0
trip_distance_miles    0.0
mode                   0.0
dtype: float64

In [ ]:
cali[['arr_time', 'dep_time', 'trip_distance_miles', 'air_trip_distance_miles', 'prev_trip_duration_min', 'act_dur', 'act_cnt', 'tract_id', 'county_id', 'state_id']]

In [3]:
df = pd.concat([arc, cali, metc, mrcog, scag])

In [4]:
df.drop(['access', 'studytype', 'recruitmode', 'retrievemode', 'sampno', 'perno', 'hhpersonid', 'hhcomp', 'tripno', ''], inplace=True)

,access,act_cnt,act_dur,act_primegress,actdur,address,age_bin,air_trip_distance_miles,alght,arr_hr,...,trvveh,usepass,vehavail,vehno,wave,wbother,wlkbkdis,worker,wtaz,zipcode
0,NaN,NaN,565.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,270.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,572.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,230.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN